In [53]:
# import libraries
import pandas as pd

In [54]:
# read a CSV format text file
# the data is sorted by utc_time
df = pd.read_csv('beijing_air_quality_data.csv',
                 parse_dates=['utc_time'])

In [55]:
df

,site_id,utc_time,epoch_time,lat,lon,sitetype,pm25,pm10,no2,co,o3,so2,weather,temperature,pressure,humidity,wind_direction,wind_speed_kmph
0,dongsi_aq,2018-04-28 00:00:00,1524873600,39.93,116.42,Urban Stations,59.0,172.0,96.0,0.8,8.0,5.0,CLEAR_DAY,17.03,1006.54,40.47,101.19,2.77
1,tiantan_aq,2018-04-28 00:00:00,1524873600,39.89,116.41,Urban Stations,52.0,187.0,104.0,0.8,3.0,5.0,CLEAR_DAY,17.09,1006.78,40.85,104.62,2.34
2,guanyuan_aq,2018-04-28 00:00:00,1524873600,39.93,116.34,Urban Stations,54.0,165.0,91.0,0.6,13.0,7.0,CLEAR_DAY,17.24,1004.53,40.50,89.65,2.86
3,wanshouxigong_aq,2018-04-28 00:00:00,1524873600,39.88,116.35,Urban Stations,51.0,184.0,93.0,0.9,6.0,5.0,CLEAR_DAY,17.30,1005.60,40.86,102.21,2.46
4,aotizhongxin_aq,2018-04-28 00:00:00,1524873600,39.98,116.40,Urban Stations,58.0,134.0,86.0,0.7,6.0,3.0,CLEAR_DAY,16.98,1005.89,39.64,82.69,3.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30235,qianmen_aq,2018-06-02 23:00:00,1527980400,39.90,116.39,Stations Near Traffic,NaN,NaN,NaN,NaN,NaN,NaN,CLOUDY,23.38,1002.15,27.19,25.17,4.48
30236,yongdingmennei_aq,2018-06-02 23:00:00,1527980400,39.88,116.39,Stations Near Traffic,NaN,NaN,NaN,NaN,NaN,NaN,CLOUDY,23.91,1002.20,27.43,63.47,4.21
30237,xizhimenbei_aq,2018-06-02 23:00:00,1527980400,39.95,116.35,Stations Near Traffic,NaN,NaN,NaN,NaN,NaN,NaN,CLOUDY,24.08,999.61,28.76,6.12,6.62
30238,nansanhuan_aq,2018-06-02 23:00:00,1527980400,39.86,116.37,Stations Near Traffic,NaN,NaN,NaN,NaN,NaN,NaN,CLOUDY,24.03,1002.18,27.55,96.77,3.62
30239,dongsihuan_aq,2018-06-02 23:00:00,1527980400,39.94,116.48,Stations Near Traffic,NaN,NaN,NaN,NaN,NaN,NaN,CLOUDY,24.10,1003.36,28.31,78.99,4.61

In [56]:
# for temperature: mean
df['temperature'].mean()

21.957699735449886

In [57]:
# for temperature: standard deviation
df['temperature'].std()

5.41608836292254

In [58]:
# for humidity: mean
df['humidity'].mean()

35.77647850529123

In [59]:
# for humidity: standard deviation
df['humidity'].std()

19.158965495323788

In [60]:
# how many unique site_id?
# Hint: check pd.unique method
len(df.drop_duplicates('site_id'))

35

In [70]:
# what is the range of utc_time?
df['utc_time'].max()-df['utc_time'].min()

Timedelta('35 days 23:00:00')

In [73]:
# for pm25, fill NAs with mean value
df.pm25.fillna(df.pm25.mean())

0        59.000000
1        52.000000
2        54.000000
3        51.000000
4        58.000000
           ...
30235    58.937398
30236    58.937398
30237    58.937398
30238    58.937398
30239    58.937398
Name: pm25, Length: 30240, dtype: float64

In [76]:
# select data for a station where site_id equals to dongsi_aq
dongsi_df = df[df['site_id'] == 'dongsi_aq']

dongsi_df_pm25 = dongsi_df['pm25']

# calculate the mean value of pm25 at this station
dongsi_df_pm25.mean()

63.886279357231146

In [77]:
# calculate how many data points when pm25 >= 50 at this station
# Hint: check count() method
dongsi_df_pm25[dongsi_df_pm25 >= 50].count()

436

In [78]:
# how many NAs for pm25 values at this station
# Hint: check isnull() method
dongsi_df_pm25.isnull().count()

864